/* Project Page */

.projects-section {
  max-width: 800px;
  margin: 25px auto;
  padding: 20px;
  background: $projectbox;
  @media (prefers-color-scheme: dark) {
    background: $projectbox-dark;
  }
}

.project-card {
  margin: 20px 0;
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;

  img {
    width: 40%;
    height: auto;
    margin-right: 20px;
  }

  h2 {
    margin: 0;
    color: #333;
    transition: color 0.3s;
  }

  .project-details p {
    margin: 10px 0;
    color: #777;
  }
}

.project-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);

  .project-details h2 {
    color: #007bff;
  }
}

.section-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
}

.section-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 100%;
  background-color: #333;
}

@include media-query($on-phone) {
  .project-card {
    flex-direction: column;
    align-items: center;
  }

  .project-card img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .project-details {
    text-align: center;
  }
}
